<p id="notice"><%= notice %></p>
<h1>Welcome, Developers!</h1>

<h3>Already have an account? </h3>
<%= link_to 'PLEASE LOGIN', new_session_path %>

<h3>First time visiting?</h3>
<%= link_to 'SIGNUP HERE', new_developer_path %>
